@charset "UTF-8";

:root{
    --cor-0: #FFBB4D;
    --cor-1: #FF9D00;
    --cor-2: #CC7E00;
    --cor-3: #804F00;
    --cor-4: #86817A;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
}

main{
    min-width: 200px;
    max-width: 800px;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

main > h1{
    background-image: linear-gradient(to top, var(--cor-3), var(--cor-0));
    text-align: center;
    font-variant: small-caps;
    padding: 15px 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.432);
}
main > h2{
    text-align: center;
    padding: 15px 0px;
}
main > p{
    text-align: justify;
    text-indent: 10px;
    line-height: 1.5em;
    margin: 0px 20px;
}

#bola{
    margin: auto;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    background-image: url('imagens/imagem.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50%;
    border: 2px solid var(--cor-0);
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.425);;
}
section{
    background-color: var(--cor-1);
    border-radius: 5px 20px;
    margin: 0px 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.425);    
}
section h2{
    background-color: var(--cor-3);
    color: white;
    margin: 0px;
    padding: 10px 10px;
    border-radius: 5px 20px 0px 0px;
}
section > ul{
    padding: 10px 30px;
}

section a{
    text-decoration: none;
    font-weight: bold;
}

section a:hover{
    color: var(--cor-3);
    text-decoration: underline;
}
footer{
    background-color: var(--cor-1);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}